
:root {
  --blue: #11467D;
  --green: #4C7335;
  --white: #ffffff;
  font-family: 'Raleway', sans-serif;
  color: var(--blue);
}

body, header, main, footer, section, article, aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

main, header, footer {
  display: grid;
  grid-template-columns: auto auto auto;
}

main section {
  border: solid white 1px;
  text-align: center;
  padding: 20px;
  height: 400px;
}

.item1, .item8 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item6 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.item7 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.item9, .hero-orcas {
  grid-column-start: 1;
  grid-column-end: 4;
}

.pic2, .pic4, .pic6 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.pic2 {
  background-image: url(images/sj-031.jpg);
}
.pic4 {
  background-image: url(images/sj-039.jpg);
}
.pic6 {
  background-image: url(images/sj-011.jpg);
}
.item1 {
  background-image: url(images/sj-015.jpg);
  background-size: cover;
  background-position: center;
}
.item3 {
  background-image: url(images/sj-025.jpg);
  background-size: cover;
  background-position: center;
}
.item5 {
  background-image: url(images/sj-068.jpg);
  background-size: cover;
  background-position: center;
}
.item7 {
  background-image: url(images/sj-022.jpg);
  background-size: cover;
  background-position: center;
}
.item2, .item4, .item6 {
  background-image: none;
}

header {
  background-color: var(--white);
  text-align: center;
}
.logo1 {
  height: 100px;
  width: auto;
  margin: 10px auto;
}
header a, header p, nav a, label {
  color: var(--blue);
  text-decoration: none;
}

/* Navigation Fix */
nav ul {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  padding: 20px;
  font-weight: bold;
}

nav ul li a {
  color: var(--blue);
  text-decoration: none;
}

nav ul li:hover {
  background-color: var(--green);
  color: var(--white);
}

.hero-orcas {
  background-image: url(images/sj-034.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

footer {
  padding: 5px;
  text-align: center;
}
